
- classes = ['first', 'second', 'third']

- if params[:v] and params[:v].to_i <= 3
  - current_class = classes[params[:v].to_i - 1]
- else
  - current_class = 'first'


.intro{class: current_class}
  .wrapper
    .topbar
      .logo
        Brail
      .phone
        (499) 755-80-93

    .title
      - unless params[:offer]
        Оборудование переговорных комнат под ключ

      - case params[:offer]
        - when 'meeting_room'
          Оборудование переговорных комнат под ключ
        - when 'conference_hall'
          Оборудование конференц залов под ключ
        - when 'broadcasting_systems'
          Системы распределенного вещания под ключ
        - when 'situation_centre'
          Оборудование ситуационных центров под ключ
        - when 'meeting_hall'
          Оборудование залов совещаний под ключ
        - when 'classroom'
          Оборудование учебных аудиторий под ключ
        - when 'assembly_hall'
          Оборудование актовых залов под ключ
        - when 'distance_education'
          Системы дистанционного образования под ключ





      %br
      по всей России
    .button#scroll-to-form-button Заказать рассчет проекта





- unless params[:v]
  = haml :'solutions/first'

- case params[:v]
  - when "1"
    = haml :'solutions/first'

  - when "2"
    = haml :'solutions/second'

  - when "3"
    = haml :'solutions/third'


%section.clients.strip
  .wrapper
    .title Наши клиенты
    %img{src: '/images/clients.png'}

%section.strip
  .wrapper
    .title Наше оборудование
    %img{src: '/images/brands.png'}


= haml :form
